static/img/*
!*.txt
static/feature/mobilenet/*
static/feature/resnet152/*
static/feature/VGG16/*
__pycache__/
*.py[cod]

!static/img/carne_4.jpg
!static/img/nutella_6.jpg
!static/img/sabritas_8.jpg
webcam.py